# Test Report

## Assignment Goal
The primary objective of the assignment given to us was unit testing of five functions of our choice.

## Functions I am testing
