# Test Report

## Assignment Goal
The primary objective of the assignment given to us was unit testing of five functions of our choice.

## Functions I am testing
| Function      | Purpose |
| ----------- | ----------- |
| ``exponent``    | Takes arguments a and b, returns b as an exponent of a      |
| ``multiplication``  | Takes arguments a and b, returns their product     |
| ``addition``     | Takes arguments a and b, returns their sum      |
| ``subtraction``  | Takes arguments a and b, subtracts b from a and returns the value       |
| ``squareRoot``    | Takes a single argument a, returns its square root     |

All these functions can be seen in the `functionsToTest.py` file. <br>
All the work here is done in Python.
